@charset "UTF-8";
@import "../src/css/style.css";
a {
  color: #350b03;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
  transition: 0.5s;
  cursor: pointer;
}

html {
  color: #350b03;
  font-family: "Noto Sans JP";
  flex-shrink: 1rem;
}

.section-title {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  border-radius: 10px;
  background: #2c459e;
  text-align: center;
  padding: 1%;
  margin: 0 auto;
}
@media screen and (max-width: 720px) {
  .section-title {
    font-size: 1.25rem;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out, transform 2s ease-out;
}

.fade-in.show {
  opacity: 1;
}

.container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 720px) {
  .container {
    width: 100vw;
    margin: 0 auto;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .container {
    width: 90vw;
  }
}

header {
  width: 100%;
  height: 100px;
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 720px) {
  header {
    height: auto;
  }
}
header .header-inner {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  header .header-inner {
    margin-left: 2%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  header .header-inner {
    max-width: 100%;
    margin-left: 2%;
  }
}
header .header-inner .logo {
  margin-top: 1rem;
}
header .header-inner .logo img {
  width: 90%;
}
@media screen and (max-width: 720px) {
  header .header-inner .logo img {
    width: 60%;
  }
}
header .header-inner .header-nav {
  width: 35vw;
  display: flex;
  justify-content: space-around;
}
header .header-inner .header-nav li {
  font-size: 20px;
  margin-top: 2rem;
}
@media screen and (max-width: 720px) {
  header .header-inner .header-nav {
    display: none;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  header .header-inner .header-nav {
    display: none;
  }
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 2%;
  background: #ffee62;
  border-radius: 4px;
}
.hamburger span {
  display: block;
  width: 100%;
  height: 0.15rem;
  background-color: #350b03;
  transition: all 0.3s;
  margin-top: 0.3rem;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
@media screen and (max-width: 720px) {
  .hamburger {
    display: flex;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100%;
  background-color: #ffee62;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.mobile-nav.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.mobile-nav ul li {
  font-family: "Noto Serif";
  font-size: 1.3rem;
  padding: 50% 0;
}
.mobile-nav ul li a {
  color: #350b03;
  font-family: "Noto Serif";
  font-size: 24px;
  text-decoration: none;
  transition: opacity 0.3s;
}
.mobile-nav ul li a:hover {
  opacity: 0.7;
}
.mobile-nav .sp-nav-orange {
  width: 30%;
  height: auto;
  position: absolute;
  top: 85%;
  left: 0;
}
.mobile-nav .sp-nav-lemon {
  width: 30%;
  height: auto;
  position: absolute;
  top: 5%;
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* スクロール禁止 */
.no-scroll {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 100px auto 0 auto;
}

.top-main {
  height: 100vh;
  position: relative;
  background-image: url("../img/cola-mask-1.png"), url("../img/cola-mask-2.png"), url("../img/store1.png");
  background-size: 35vw auto, 40vw auto, 30vw auto;
  background-repeat: no-repeat;
  background-position: -10vw 0, 18vw 6vw, 40vw 6vw;
}
@media screen and (max-width: 720px) {
  .top-main {
    background-size: 80vw auto, 90vw auto, 70vw auto;
    background-position: -30vw 0, 20vw 70vw, 40vw 13vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .top-main {
    background-size: 50vw auto, 70vw auto, 50vw auto;
    background-position: -15vw 5vw, 25vw 40vw, 40vw 10vw;
  }
}
.top-main .box1 {
  position: absolute;
  top: 6vw;
  left: 0;
  width: 7vw;
  height: 40vh;
  z-index: -1000;
  background: #ffee62;
  display: inline-block;
  border-radius: 8px;
}
@media screen and (max-width: 720px) {
  .top-main .box1 {
    width: 10vw;
    height: 50vw;
    top: 10vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .top-main .box1 {
    width: 10vw;
    height: 40vw;
    top: 10vw;
  }
}
.top-main .box2 {
  position: absolute;
  top: 3vw;
  right: -3vw;
  z-index: -1000;
  width: 30vw;
  height: 9rem;
  background: #ffee62;
  display: inline-block;
  border-radius: 8px;
}
@media screen and (max-width: 720px) {
  .top-main .box2 {
    right: 0;
    width: 60vw;
    height: 15vw;
    top: 5vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .top-main .box2 {
    right: 0;
    width: 40vw;
    height: 15vw;
    top: 5vw;
  }
}
.top-main .box3 {
  position: absolute;
  top: 35vw;
  right: -3vw;
  z-index: -1000;
  width: 30vw;
  height: 9rem;
  background: #ffee62;
  display: inline-block;
  border-radius: 8px;
}
@media screen and (max-width: 720px) {
  .top-main .box3 {
    right: 0;
    width: 40vw;
    height: 15vw;
    top: 85vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .top-main .box3 {
    right: 0;
    width: 40vw;
    height: 15vw;
    top: 60vw;
  }
}

h2 {
  writing-mode: vertical-rl; /* 縦書きに設定 */
  color: #350b03;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: nomal;
  font-family: "Kaisei Tokumin";
  letter-spacing: 1.5rem;
}
@media screen and (max-width: 720px) {
  h2 {
    font-size: 35px;
  }
}

.main-title-wrapper {
  width: 10rem;
  display: flex;
  margin-top: 2vw;
  margin-left: 15vw;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .main-title-wrapper {
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-left: 15vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .main-title-wrapper {
    justify-content: space-evenly;
    margin-top: 10vw;
    margin-left: 20vw;
  }
}

@media screen and (max-width: 720px) {
  .main-title {
    background: #fff;
    padding: 0 3vw;
    border-radius: 5px;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  .main-title {
    background: #fff;
    padding: 0 2vw;
    border-radius: 5px;
    margin-bottom: auto;
  }
}

.main-title2 {
  margin-top: 20rem;
}
@media screen and (max-width: 720px) {
  .main-title2 {
    margin-top: 15rem;
  }
}
.main-title2 span {
  background-color: #2c459e;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  padding-top: 30px;
}

#about {
  margin-top: 10vw;
  margin-bottom: 10vw;
  background-image: url("../img/cola3.jpg");
  background-repeat: no-repeat;
  background-size: 25vw;
  background-position: 0 2vw;
  position: relative;
}
@media screen and (max-width: 720px) {
  #about {
    margin-top: 0;
    margin-bottom: 0;
    background-size: 50vw;
    background-position: 0 0;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #about {
    margin-top: 0;
    margin-bottom: 0;
    background-size: 50vw;
    background-position: 0 0;
  }
}
#about .about-orange {
  width: 15vw;
  position: absolute;
  top: -15vw;
  left: 0;
  z-index: -1000;
}
@media screen and (max-width: 720px) {
  #about .about-orange {
    width: 30vw;
    top: -25vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #about .about-orange {
    width: 30vw;
    top: -25vw;
  }
}
#about .about-bubble {
  width: 25vw;
  z-index: -2000;
  position: absolute;
  top: 5vw;
  left: 25vw;
}
@media screen and (max-width: 720px) {
  #about .about-bubble {
    width: 40vw;
    top: 95vw;
    left: 30vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #about .about-bubble {
    width: 30vw;
    top: 85vw;
    left: 30vw;
  }
}
#about .box4 {
  position: absolute;
  top: -3vw;
  left: 0;
  z-index: -500;
  width: 30vw;
  height: 10vw;
  background: #ffee62;
  display: inline-block;
  border-radius: 8px;
}
@media screen and (max-width: 720px) {
  #about .box4 {
    width: 55vw;
    height: 20vw;
    top: -5vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #about .box4 {
    width: 55vw;
    height: 20vw;
    top: -5vw;
  }
}
#about .about-us {
  width: 30vw;
  height: auto;
  margin-left: auto;
  display: block;
}
@media screen and (max-width: 720px) {
  #about .about-us {
    position: absolute;
    top: 30vw;
    right: 0;
    width: 55vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #about .about-us {
    position: absolute;
    top: 35vw;
    right: 0;
    width: 55vw;
  }
}
#about h3 {
  width: 100%;
  padding: 2%;
}
@media screen and (max-width: 720px) {
  #about h3 {
    width: 70%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #about h3 {
    width: 40vw;
  }
}
#about p {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  line-height: 1.5;
}
@media screen and (max-width: 720px) {
  #about p {
    margin-top: 10vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #about p {
    width: 70%;
  }
}
#about .about-text-wrapper {
  width: 40%;
  margin-left: auto;
}
@media screen and (max-width: 720px) {
  #about .about-text-wrapper {
    margin: 50vw auto 80vw auto;
    width: 100%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #about .about-text-wrapper {
    margin: 60vw auto 50vw auto;
    width: 100%;
  }
}

#lineup {
  padding-top: 10%;
  position: relative;
  margin-top: 5vw;
  margin-bottom: 10vw;
}
#lineup .lineup-png {
  position: absolute;
  top: -5vw;
  left: -5vw;
  width: 25vw;
}
@media screen and (max-width: 720px) {
  #lineup .lineup-png {
    width: 55vw;
    top: -20vw;
    left: 5vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #lineup .lineup-png {
    width: 45vw;
    top: -15vw;
    left: 0;
  }
}
#lineup .lineup-lemon {
  position: absolute;
  top: 0;
  right: -10vw;
  width: 15vw;
}
@media screen and (max-width: 720px) {
  #lineup .lineup-lemon {
    top: 5vw;
    right: 0;
    width: 25vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #lineup .lineup-lemon {
    right: 0;
    width: 20vw;
  }
}
#lineup h3 {
  width: 10vw;
}
@media screen and (max-width: 720px) {
  #lineup h3 {
    width: 30vw;
    padding: 2%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #lineup h3 {
    width: 15vw;
    padding: 2%;
  }
}
#lineup .lineup-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vw auto 0 auto;
}
@media screen and (max-width: 720px) {
  #lineup .lineup-wrapper {
    display: block;
    width: 100%;
  }
}
#lineup .lineup-wrapper .lineup1 {
  width: 15vw;
}
@media screen and (max-width: 720px) {
  #lineup .lineup-wrapper .lineup1 {
    width: 60vw;
    margin: 15vw auto;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #lineup .lineup-wrapper .lineup1 {
    width: 25vw;
  }
}
#lineup .lineup-wrapper .lineup1 img {
  width: 100%;
}
#lineup .lineup-wrapper .lineup1 h4 {
  color: #350b03;
  font-family: "Noto Sans JP";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5% 0;
}
#lineup .lineup-wrapper .lineup1 p {
  color: #350b03;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.24px;
  padding: 5% 0;
}
#lineup .lineup-wrapper .lineup2 {
  width: 15vw;
}
@media screen and (max-width: 720px) {
  #lineup .lineup-wrapper .lineup2 {
    width: 60vw;
    margin: 15vw auto;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #lineup .lineup-wrapper .lineup2 {
    width: 25vw;
  }
}
#lineup .lineup-wrapper .lineup2 img {
  width: 100%;
}
#lineup .lineup-wrapper .lineup2 h4 {
  color: #350b03;
  font-family: "Noto Sans JP";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5% 0;
}
#lineup .lineup-wrapper .lineup2 p {
  color: #350b03;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.24px;
  padding: 5% 0;
}
#lineup .lineup-wrapper .lineup3 {
  width: 15vw;
}
@media screen and (max-width: 720px) {
  #lineup .lineup-wrapper .lineup3 {
    width: 60vw;
    margin: 15vw auto;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #lineup .lineup-wrapper .lineup3 {
    width: 25vw;
  }
}
#lineup .lineup-wrapper .lineup3 img {
  width: 100%;
}
#lineup .lineup-wrapper .lineup3 h4 {
  color: #350b03;
  font-family: "Noto Sans JP";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5% 0;
}
#lineup .lineup-wrapper .lineup3 p {
  color: #350b03;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.24px;
  padding: 5% 0;
}

#access {
  padding-top: 10%;
  margin-bottom: 30vw;
  position: relative;
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #access {
    margin-top: 10vw;
  }
}
#access .access-png {
  position: absolute;
  top: -5vw;
  right: -10vw;
  width: 30vw;
}
@media screen and (max-width: 720px) {
  #access .access-png {
    right: 0;
    top: -15vw;
    width: 55vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #access .access-png {
    right: 0;
    width: 40vw;
  }
}
#access .access-orange {
  position: absolute;
  top: 5vw;
  left: 0;
  width: 15vw;
  z-index: -1000;
}
@media screen and (max-width: 720px) {
  #access .access-orange {
    width: 40vw;
    top: 0;
    left: -10vw;
  }
}
#access h3 {
  width: 10vw;
}
@media screen and (max-width: 720px) {
  #access h3 {
    width: 30vw;
    padding: 2%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #access h3 {
    width: 15vw;
    padding: 2%;
  }
}
#access .access-wrapper {
  display: flex;
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #access .access-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 720px) {
  #access .access-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
#access .access-wrapper .access-left {
  padding: 10% 0 0 5%;
}
@media screen and (max-width: 720px) {
  #access .access-wrapper .access-left {
    width: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #access .access-wrapper .access-left {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 720px) {
  #access .access-wrapper .access-left iframe {
    display: block;
    width: 90%;
    height: 300px;
    margin: 15% auto 0 auto;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #access .access-wrapper .access-left iframe {
    display: block;
    width: 80%;
    height: 400px;
    margin: 15% auto 0 auto;
  }
}
#access .access-wrapper .access-right {
  padding: 10% 0 0 5%;
}
@media screen and (max-width: 720px) {
  #access .access-wrapper .access-right {
    width: 80vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #access .access-wrapper .access-right {
    padding: 10% 0 0 0;
    margin: 0 30% 0 auto;
    width: 60%;
  }
}
#access .access-wrapper .access-right p {
  line-height: 1.5;
  margin-bottom: 5%;
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #access .access-wrapper .access-right p {
    padding-right: 0;
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 720px) {
  #access .access-wrapper .access-right p {
    font-size: 1rem;
  }
}
#access .access-wrapper .access-right h5 {
  color: #350b03;
  font-family: "Noto Sans JP";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 144.786%; /* 31.853px */
  letter-spacing: 6.6px;
  padding: 4% 0 4% 0;
}
@media screen and (max-width: 720px) {
  #access .access-wrapper .access-right h5 {
    font-size: 1.25rem;
  }
}

#contact {
  margin-top: 0;
  margin-bottom: 5vw;
  position: relative;
}
@media screen and (max-width: 720px) {
  #contact {
    margin-bottom: 10vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact {
    margin-bottom: 5vw;
  }
}
#contact h3 {
  width: 15vw;
  margin-bottom: 5vw;
}
@media screen and (max-width: 720px) {
  #contact h3 {
    width: 30vw;
    padding: 2%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact h3 {
    width: 15vw;
    padding: 2%;
  }
}
#contact input {
  display: block;
  width: 30%;
  padding: 1%;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 2% auto;
}
@media screen and (max-width: 720px) {
  #contact input {
    width: 60%;
    margin: 5% auto;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact input {
    width: 40%;
    margin: 5% auto;
  }
}
#contact textarea {
  display: block;
  width: 30%;
  padding: 1%;
  height: 15rem;
  border: 2px solid #000;
  border-radius: 10px;
  margin: 2% auto;
}
@media screen and (max-width: 720px) {
  #contact textarea {
    width: 60%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact textarea {
    width: 40%;
    margin: 5% auto;
  }
}
#contact .submit-button {
  background: #fff;
  width: 10%;
}
@media screen and (max-width: 720px) {
  #contact .submit-button {
    width: 40%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact .submit-button {
    width: 20%;
  }
}
#contact .submit-button:hover {
  background: #2c459e;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  border-color: transparent;
}
#contact .contact-bubble1 {
  position: absolute;
  top: -20vw;
  right: -10vw;
  width: 15vw;
  transform: scaleX(-1);
}
@media screen and (max-width: 720px) {
  #contact .contact-bubble1 {
    right: 0;
    width: 25vw;
    top: -15vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact .contact-bubble1 {
    right: -4vw;
    width: 25vw;
    top: -15vw;
  }
}
#contact .contact-bubble2 {
  position: absolute;
  top: 25vw;
  left: -10vw;
  width: 15vw;
  transform: scaleX(-1);
}
@media screen and (max-width: 720px) {
  #contact .contact-bubble2 {
    left: 0;
    width: 25vw;
    top: 110vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact .contact-bubble2 {
    left: 0;
    width: 25vw;
    top: 50vw;
  }
}
#contact .contact-lemon {
  position: absolute;
  top: 35vw;
  right: -10vw;
  width: 15vw;
}
@media screen and (max-width: 720px) {
  #contact .contact-lemon {
    right: 0;
    width: 30vw;
    top: 110vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact .contact-lemon {
    right: 0;
    width: 25vw;
    top: 60vw;
  }
}
#contact .contact-png {
  position: absolute;
  top: -10vw;
  left: -10vw;
  width: 30vw;
}
@media screen and (max-width: 720px) {
  #contact .contact-png {
    width: 55vw;
    left: 0;
    top: -30vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact .contact-png {
    width: 40vw;
    left: 0;
    top: -20vw;
  }
}

footer {
  width: 100vw;
  position: relative;
  height: 10vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #ffee62;
}
@media screen and (max-width: 720px) {
  footer {
    height: 20vw;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  footer {
    height: 20vw;
  }
}
footer .copy-right {
  text-align: center;
  font-size: 0.75rem;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 720px) {
  footer .copy-right {
    line-height: 2;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  footer .copy-right {
    line-height: 0;
    margin-top: 8vw;
  }
}
footer .footer-inner {
  margin: 0 15%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  footer .footer-inner {
    margin: 0 auto;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  footer .footer-inner {
    margin: 0 5%;
  }
}
footer .footer-inner .footer-left {
  margin-top: 1rem;
}
@media screen and (max-width: 720px) {
  footer .footer-inner .footer-left {
    margin-top: 2%;
  }
}
footer .footer-inner .footer-left .footer-logo {
  width: 90%;
}
@media screen and (max-width: 720px) {
  footer .footer-inner .footer-left .footer-logo {
    width: 20vw;
    margin: 0;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  footer .footer-inner .footer-left .footer-logo {
    width: 15vw;
    margin: 0;
  }
}
footer .footer-inner .footer-right {
  width: 20vw;
  margin-top: 1rem;
  height: auto;
}
@media screen and (max-width: 720px) {
  footer .footer-inner .footer-right {
    display: none;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  footer .footer-inner .footer-right {
    display: none;
  }
}
footer .footer-inner .footer-right p {
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  line-height: 1.5rem;
}
footer .footer-inner .footer-access {
  margin-top: 0.5rem;
}

#contact {
  padding: 5% 0;
  text-align: start;
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact {
    height: 100vh;
    margin-top: 30%;
  }
}
@media screen and (max-width: 720px) {
  #contact {
    height: 120vh;
    margin-top: 30%;
  }
}
#contact .complete-message {
  text-align: center;
  font-size: 1.25rem;
  line-height: 2rem;
}
#contact .submit-button {
  display: block;
  margin: 2% auto;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background-color: #ffee62;
  border: none;
  border-radius: 5px;
  font-family: "Noto Sans JP";
}
@media screen and (max-width: 720px) {
  #contact .submit-button {
    padding: 2%;
    width: 30%;
    margin-top: 10%;
  }
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  #contact .submit-button {
    font-size: 1.5rem;
    margin: 5% auto;
    padding: 2%;
    width: 24%;
    border-radius: 10px;
  }
}
#contact .submit-button:hover {
  background-color: #2c459e;
  color: #fff;
}

footer {
  margin: 0 auto;
  height: 100px;
}
footer .copy-right {
  padding-top: 5%;
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
  footer .copy-right {
    padding-top: 7%;
  }
}
@media screen and (max-width: 720px) {
  footer .copy-right {
    padding-top: 15%;
  }
}/*# sourceMappingURL=complete.css.map */