@import "../src/css/style.css";
@import "style.scss";

// * {
//   outline: 1px solid magenta;
// }

#contact {
  padding: 5% 0;
  text-align: start;

  @include mq(tab) {
    height: 100vh;
    margin-top: 30%;
  }

  @include mq(sp) {
    height: 120vh;

    margin-top: 30%;
  }
  .complete-message {
    text-align: center;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .submit-button {
    display: block;
    margin: 2% auto;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background-color: $yellow-box;
    border: none;
    border-radius: 5px;
    font-family: "Noto Sans JP";

    @include mq(sp) {
      padding: 2%;
      width: 30%;
      margin-top: 10%;
    }

    @include mq(tab) {
      font-size: 1.5rem;
      margin: 5% auto;
      padding: 2%;
      width: 24%;
      border-radius: 10px;
    }

    &:hover {
      background-color: $blue-box;
      color: #fff;
    }
  }
}

footer {
  margin: 0 auto;
  height: 100px;
  .copy-right {
    padding-top: 5%;

    @include mq(tab) {
      padding-top: 7%;
    }

    @include mq(sp) {
      padding-top: 15%;
    }
  }
}
