//デバッグ用アウトライン

// * {
//   outline: 1px solid magenta;
// }

// ブレークポイントの定義
$breakpoint: (
  pc: "screen and (min-width: 1025px)",
  tab: "screen and (min-width: 721px) and (max-width: 1024px)",
  sp: "screen and (max-width: 720px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

//変数の定義

//カラー
$yellow-box: #ffee62;
$blue-box: #2c459e;
$text-color: #350b03;

//フォントサイズ
$copy: 48px;
$section-title: 1.5rem;
$text: 1rem;

a {
  color: $text-color;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
  }
}

//フォント
html {
  color: $text-color;
  font-family: "Noto Sans JP";
  flex-shrink: $text;
}

//セクションタイトル
.section-title {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: $section-title;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  border-radius: 10px;
  background: $blue-box;
  text-align: center;
  padding: 1%;
  margin: 0 auto;
}

// 要素をふわっと表示
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out, transform 2s ease-out;
}

.fade-in.show {
  opacity: 1;
}

//container
.container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include mq(sp) {
    width: 100vw;
    margin: 0 auto;
  }

  @include mq(tab) {
    width: 90vw;
  }
}

//header
header {
  width: 100%;
  height: 100px;
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;

  @include mq(sp) {
    height: auto;
  }

  .header-inner {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include mq(sp) {
      margin-left: 2%;
    }
    @include mq(tab) {
      max-width: 100%;

      margin-left: 2%;
    }

    .logo {
      margin-top: 1rem;

      img {
        width: 90%;

        @include mq(sp) {
          width: 60%;
        }
      }
    }

    .header-nav {
      width: 35vw;
      display: flex;
      justify-content: space-around;

      li {
        font-size: 20px;
        margin-top: 2rem;
      }

      @include mq(sp) {
        display: none;
      }

      @include mq(tab) {
        display: none;
      }
    }
  }
}

//ハンバーガーメニュー
// ハンバーガーメニューのボタン
.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  display: none; // PCでは非表示
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 2%;
  background: $yellow-box;
  border-radius: 4px;
  span {
    display: block;
    width: 100%;
    height: 0.15rem;
    background-color: #350b03;
    transition: all 0.3s;
    margin-top: 0.3rem;
  }

  &.active span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  // SPサイズでは表示
  @include mq(sp) {
    display: flex;
  }

  @include mq(tab) {
    display: flex;
  }
}

// モバイルナビゲーションメニュー
.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #ffee62;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      font-family: "Noto Serif";
      font-size: 1.3rem;
      padding: 50% 0;
      a {
        color: #350b03;
        font-family: "Noto Serif";
        font-size: 24px;
        text-decoration: none;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .sp-nav-orange {
    width: 30%;
    height: auto;
    position: absolute;
    top: 85%;
    left: 0;
  }
  .sp-nav-lemon {
    width: 30%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 0;
  }
}

// オーバーレイ
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

/* スクロール禁止 */
.no-scroll {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin: 100px auto 0 auto;
}

//top-main
.top-main {
  height: 100vh;
  position: relative;
  background-image: url("../img/cola-mask-1.png"), url("../img/cola-mask-2.png"),
    url("../img/store1.png");
  background-size: 35vw auto, 40vw auto, 30vw auto;
  background-repeat: no-repeat;
  background-position: -10vw 0, 18vw 6vw, 40vw 6vw;

  @include mq(sp) {
    background-size: 80vw auto, 90vw auto, 70vw auto;
    background-position: -30vw 0, 20vw 70vw, 40vw 13vw;
  }

  @include mq(tab) {
    background-size: 50vw auto, 70vw auto, 50vw auto;
    background-position: -15vw 5vw, 25vw 40vw, 40vw 10vw;
  }

  .box1 {
    position: absolute;
    top: 6vw;
    left: 0;
    width: 7vw;
    height: 40vh;
    z-index: -1000;
    background: $yellow-box;
    display: inline-block;
    border-radius: 8px;

    @include mq(sp) {
      width: 10vw;
      height: 50vw;
      top: 10vw;
    }

    @include mq(tab) {
      width: 10vw;
      height: 40vw;
      top: 10vw;
    }
  }
  .box2 {
    position: absolute;
    top: 3vw;
    right: -3vw;
    z-index: -1000;
    width: 30vw;
    height: 9rem;
    background: $yellow-box;
    display: inline-block;
    border-radius: 8px;

    @include mq(sp) {
      right: 0;
      width: 60vw;
      height: 15vw;
      top: 5vw;
    }

    @include mq(tab) {
      right: 0;
      width: 40vw;
      height: 15vw;
      top: 5vw;
    }
  }
  .box3 {
    position: absolute;
    top: 35vw;
    right: -3vw;
    z-index: -1000;
    width: 30vw;
    height: 9rem;
    background: $yellow-box;
    display: inline-block;
    border-radius: 8px;

    @include mq(sp) {
      right: 0;
      width: 40vw;
      height: 15vw;
      top: 85vw;
    }

    @include mq(tab) {
      right: 0;
      width: 40vw;
      height: 15vw;
      top: 60vw;
    }
  }
}

//キャッチコピー
h2 {
  writing-mode: vertical-rl; /* 縦書きに設定 */
  color: $text-color;
  font-size: $copy;
  font-style: normal;
  font-weight: 400;
  line-height: nomal;
  font-family: "Kaisei Tokumin";
  letter-spacing: 1.5rem;

  @include mq(sp) {
    font-size: 35px;
  }
}

.main-title-wrapper {
  width: 10rem;
  display: flex;
  margin-top: 2%;
  margin-left: 24%;
  justify-content: space-between;

  @include mq(sp) {
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-left: 15vw;
  }

  @include mq(tab) {
    justify-content: space-evenly;
    margin-top: 10vw;
    margin-left: 20vw;
  }
}

.main-title {
  @include mq(sp) {
    background: #fff;
    padding: 0 3vw;
    border-radius: 5px;
    margin-bottom: auto;
  }

  @include mq(tab) {
    background: #fff;
    padding: 0 2vw;
    border-radius: 5px;
    margin-bottom: auto;
  }
}

.main-title2 {
  margin-top: 20rem;

  @include mq(sp) {
    margin-top: 15rem;
  }
  span {
    background-color: $blue-box;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    padding-top: 30px;
  }
}

//about
#about {
  margin-top: 20%;
  margin-bottom: 20%;
  background-image: url("../img/cola3.jpg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 0 20%;
  position: relative;

  .about-orange {
    width: 20%;
    position: absolute;
    top: -40%;
    left: -10%;
    z-index: -1000;
  }
  .about-bubble {
    width: 40%;
    z-index: -2000;
    position: absolute;
    top: 20%;
    left: 30%;
  }

  .box4 {
    position: absolute;
    top: -10%;
    left: 0;
    z-index: -500;
    width: 45%;
    height: 40%;
    background: $yellow-box;
    display: inline-block;
    border-radius: 8px;
  }

  .about-us {
    width: 50%;
    height: auto;
    margin-left: auto;
    display: block;
  }

  h3 {
    width: 100%;
    padding: 2%;

    @include mq(sp) {
      width: 30%;
    }
  }

  p {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    line-height: 1.5;
  }

  .about-text-wrapper {
    width: 40%;
    margin-left: auto;
  }
}

//lineup

#lineup {
  padding-top: 10%;
  position: relative;
  margin-top: 5%;
  margin-bottom: 10%;

  .lineup-png {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 40%;
  }

  .lineup-lemon {
    position: absolute;
    top: 0;
    right: -10%;
    width: 20%;

    @include mq(sp) {
      right: 0;
    }
  }

  h3 {
    width: 15%;
  }

  .lineup-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;

    .lineup1 {
      width: 28%;

      img {
        width: 100%;
      }
      h4 {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5% 0;
      }
      p {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.24px;
        padding: 5% 0;
      }
    }

    .lineup2 {
      width: 28%;

      img {
        width: 100%;
      }
      h4 {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5% 0;
      }

      p {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.24px;
        padding: 5% 0;
      }
    }

    .lineup3 {
      width: 28%;
      img {
        width: 100%;
      }
      h4 {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5% 0;
      }
      p {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.24px;
        padding: 5% 0;
      }
    }
  }
}

//access
#access {
  padding-top: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  position: relative;

  .access-png {
    position: absolute;
    top: -10%;
    right: -10%;
    width: 50%;

    @include mq(sp) {
      right: 0;
    }
  }

  .access-orange {
    position: absolute;
    top: 15%;
    left: 0;
    width: 20%;
    z-index: -1000;
  }

  h3 {
    width: 15%;
  }

  .access-wrapper {
    display: flex;

    @include mq(tab) {
      display: block;
      width: 100%;
      margin: 0 auto;
    }

    @include mq(sp) {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .access-left {
      padding: 10% 0 0 5%;

      @include mq(sp) {
        width: 100%;
        padding: 0;
      }
      @include mq(tab) {
        width: 100%;
        padding: 0;
      }

      iframe {
        @include mq(sp) {
          display: block;
          width: 90%;
          height: 300px;
          margin: 15% auto 0 auto;
        }

        @include mq(tab) {
          display: block;
          width: 80%;
          height: 400px;
          margin: 15% auto 0 auto;
        }
      }
    }
    .access-right {
      padding: 10% 0 0 5%;

      @include mq(tab) {
        padding: 10% 0 0 0;
        margin: 0 30% 0 auto;
        width: 60%;
      }

      p {
        line-height: 1.5;
        margin-bottom: 5%;

        @include mq(tab) {
          padding-right: 0;
          font-size: 1.15rem;
        }

        @include mq(sp) {
          font-size: 1rem;
        }
      }

      h5 {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 144.786%; /* 31.853px */
        letter-spacing: 6.6px;
        padding: 4% 0 4% 0;

        @include mq(sp) {
          font-size: 1.25rem;
        }
      }
    }
  }
}

//contact

#contact {
  margin-top: 10%;
  margin-bottom: 5%;
  position: relative;

  h3 {
    width: 15%;
  }

  input {
    display: block;
    width: 30%;
    padding: 1%;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 2% auto;
  }
  textarea {
    display: block;
    width: 30%;
    padding: 1%;
    height: 15rem;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 2% auto;
  }

  .submit-button {
    background: #fff;
    width: 10%;

    &:hover {
      background: $blue-box;
      color: #fff;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  .contact-bubble1 {
    position: absolute;
    top: -20%;
    right: -10vw;
    width: 25%;
    transform: scaleX(-1);

    @include mq(sp) {
      right: 0;
    }
  }
  .contact-bubble2 {
    position: absolute;
    top: 60%;
    left: -25%;
    width: 25%;
    transform: scaleX(-1);

    @include mq(sp) {
      left: 0;
    }
  }
  .contact-lemon {
    position: absolute;
    top: 90%;
    right: -10%;
    width: 20%;

    @include mq(sp) {
      right: 0;
    }
  }
  .contact-png {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 40%;
  }
}

//footer
footer {
  width: 100vw;
  position: relative;
  height: 150px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: $yellow-box;

  .copy-right {
    text-align: center;
    font-size: 0.75rem;
    margin: -0.5rem auto 0 auto;
    width: 100%;
  }
  .footer-inner {
    margin: 0 15%;
    display: flex;
    justify-content: space-between;

    .footer-left {
      margin-top: 1rem;

      .footer-logo {
        width: 90%;
      }
    }

    .footer-right {
      width: 30%;
      margin-top: 1rem;
      height: auto;

      p {
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 4.8px;
        line-height: 1.5rem;
      }
    }
    .footer-access {
      margin-top: 0.5rem;
    }
  }
}
