// ブレークポイントの定義
$breakpoint: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px)",
  pc: "screen and (min-width: 1025px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

//変数の定義

//カラー
$yellow-box: #ffee62;
$blue-box: #2c459e;
$text-color: #350b03;

a {
  color: $text-color;
}

//フォントサイズ
html {
  color: $text-color;
  @include mq(pc) {
    font-size: 16px;
  }

  @include mq(tab) {
    font-size: 14px;
  }

  @include mq(sp) {
    font-size: 12px;
  }
}

//font-family

//header
header {
  position: fixed;
  height: 100px;
}
.header-inner {
  display: flex;
  justify-content: space-around;

  .header-left {
    h1 img {
      width: 160px;
      padding: 10px 0 0 10px;
    }
  }

  .header-right {
    width: 40%;
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
}

//footer
footer {
  height: 150px;
  position: relative;
  background: $yellow-box;
  .footer-inner {
    display: flex;
    justify-content: space-around;

    .footer-left {
      a img {
        width: 170px;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .footer-right {
      .footer-access-wrapper {
        p {
          font-size: 18px;
        }
      }
    }
  }
}
