//デバッグ用アウトライン

// * {
//   outline: 1px solid magenta;
// }

// ブレークポイントの定義
$breakpoint: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px)",
  pc: "screen and (min-width: 1025px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

//変数の定義

//カラー
$yellow-box: #ffee62;
$blue-box: #2c459e;
$text-color: #350b03;

a {
  color: $text-color;
}

//フォントサイズ
html {
  color: $text-color;
  font-family: "Noto Sans JP";
  @include mq(pc) {
    font-size: 16px;
  }

  @include mq(tab) {
    font-size: 14px;
  }

  @include mq(sp) {
    font-size: 12px;
  }
}

//nav-font
@mixin nav-font {
  color: #350b03;
  font-family: "Noto Serif";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

//header
header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10001;
  top: 0;
  left: 0;
}
.header-inner {
  width: 100%;
  .header-left {
    h1 img {
      width: 160px;
      position: fixed;
      top: 10px;
      left: 10px;

      @include mq(sp) {
        width: 100px;
      }
    }
  }

  // pcのnav
  .header-right {
    nav {
      width: 50%;
      position: fixed;
      right: 95px;
      top: 35px;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          color: $text-color;
          font-family: "Noto Serif";
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      @include mq(sp) {
        opacity: 0;
      }
    }
  }
}

//top-main
.top-main {
  height: 1124px;
  position: relative;
  padding-top: 100px;

  .cola-1 {
    width: 30%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 0;
  }

  .cola-2 {
    width: 50%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 54%;
    transform: translate(-50%, -50%);
  }
  .store-img {
    width: 40%;
    height: auto;
    position: absolute;
    right: 6%;
    top: 17%;
  }

  .yellow-box1 {
    width: 46%;
    height: 10%;
    border-radius: 10px 0 0 10px;
    background: #ffee62;
    overflow: hidden;
    position: absolute;
    top: 13%;
    right: 0;
  }
  .yellow-box2 {
    width: 40%;
    height: 10%;
    transform: rotate(90deg);
    border-radius: 10px 10px 0 0;
    background: #ffee62;
    overflow: hidden;
    position: absolute;
    top: 34%;
    left: -20%;
  }
  .yellow-box3 {
    width: 40%;
    height: 20%;
    border-radius: 10px 0 0 10px;
    background: #ffee62;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 65%;
  }
  //キャッチコピー
  h2 {
    writing-mode: vertical-rl; /* 縦書きに設定 */
    color: $text-color;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: nomal;
    font-family: "Kaisei Tokumin";
    letter-spacing: 0.4em;
  }
  .main-title {
    position: absolute;
    top: 10%;
    left: 35%;
  }

  .main-title2 {
    position: absolute;
    top: 35%;
    left: 25%;

    span {
      background-color: $blue-box;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
      padding-top: 30px;
    }
  }
}

//about

//lineup

//access

//contact

//footer
footer {
  height: 150px;
  position: relative;
  background: $yellow-box;

  .copy-right {
    text-align: center;
    font-size: 12px;
    margin: -20px;
    width: 100%;
  }
  .footer-inner {
    display: flex;
    justify-content: flex-end;

    .footer-left {
      a img {
        width: 170px;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .footer-right {
      width: 25%;
      margin-top: 10px;
      height: 135px;
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 4.8px;
        line-height: 1.5em;
      }

      .footer-access {
        margin-bottom: 26px;
      }
    }
  }
}
