//デバッグ用アウトライン

// * {
//   outline: 1px solid magenta;
// }

// ブレークポイントの定義
$breakpoint: (
  pc: "screen and (min-width: 1025px)",
  tab: "screen and (max-width: 1024px)",
  sp: "screen and (max-width: 920px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

//変数の定義

//カラー
$yellow-box: #ffee62;
$blue-box: #2c459e;
$text-color: #350b03;

a {
  color: $text-color;

  &:hover {
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
  }
}

//フォントサイズ
html {
  color: $text-color;
  font-family: "Noto Sans JP";
  @include mq(pc) {
    font-size: 1rem;
  }

  @include mq(tab) {
    font-size: 0.875rem;
  }

  @include mq(sp) {
    font-size: 0.75rem;
  }
}

//nav-font
@mixin nav-font {
  color: #350b03;
  font-family: "Noto Serif";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

//セクションタイトル
.section-title {
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  background: $blue-box;
  width: 10%;
  text-align: center;
  padding: 1%;
  margin: 0 auto;

  @include mq(sp) {
    font-size: 1.15rem;
  }
}

//header
header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10001;
  top: 0;
  left: 0;
}
.header-inner {
  width: 100%;
  .header-left {
    h1 img {
      width: 160px;
      position: fixed;
      top: 10px;
      left: 10px;

      @include mq(sp) {
        width: 100px;
      }
    }
  }

  // pcのnav
  .header-right {
    nav {
      width: 50%;
      position: fixed;
      right: 95px;
      top: 35px;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          color: $text-color;
          font-family: "Noto Serif";
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      @include mq(sp) {
        opacity: 0;
      }
    }
  }
}

//ハンバーガーメニュー
// ハンバーガーメニューのボタン
.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  display: none; // PCでは非表示
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 2%;
  background: $yellow-box;
  border-radius: 4px;
  span {
    display: block;
    width: 100%;
    height: 0.15rem;
    background-color: #350b03;
    transition: all 0.3s;
  }

  &.active span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  // SPサイズでは表示
  @include mq(sp) {
    display: flex;
  }
}

// モバイルナビゲーションメニュー
.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #ffee62;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      font-family: "Noto Serif";
      font-size: 1.3rem;
      padding: 50% 0;
      a {
        color: #350b03;
        font-family: "Noto Serif";
        font-size: 24px;
        text-decoration: none;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .sp-nav-orange {
    width: 30%;
    height: auto;
    position: absolute;
    top: 85%;
    left: 0;
  }
  .sp-nav-lemon {
    width: 30%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 0;
  }
}

// オーバーレイ
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

/* スクロール禁止 */
.no-scroll {
  overflow: hidden;
}

//top-main
.top-main {
  height: 1124px;
  position: relative;
  padding-top: 100px;
  overflow: hidden;

  @include mq(sp) {
    height: 700px;
  }
  .cola-1 {
    width: 30%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 0;

    @include mq(sp) {
      width: 50%;
    }
  }

  .cola-2 {
    width: 50%;
    height: auto;
    position: absolute;
    top: 45%;
    left: 54%;
    transform: translate(-50%, -50%);

    @include mq(sp) {
      width: 95%;
      top: 65%;
      left: 72%;
      z-index: 1000;
    }
  }
  .store-img {
    width: 40%;
    height: auto;
    position: absolute;
    right: 6%;
    top: 17%;

    @include mq(sp) {
      width: 80%;
      right: -20%;
    }
  }

  .yellow-box1 {
    width: 46%;
    height: 10%;
    border-radius: 10px 0 0 10px;
    background: #ffee62;
    overflow: hidden;
    position: absolute;
    top: 13%;
    right: 0;

    @include mq(sp) {
      top: 15%;
      width: 60%;
    }
  }
  .yellow-box2 {
    width: 40%;
    height: 10%;
    transform: rotate(90deg);
    border-radius: 10px 10px 0 0;
    background: #ffee62;
    overflow: hidden;
    position: absolute;
    top: 34%;
    left: -20%;

    @include mq(sp) {
      top: 20%;
    }
  }
  .yellow-box3 {
    width: 40%;
    height: 10%;
    border-radius: 10px 0 0 10px;
    background: #ffee62;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 62%;

    @include mq(tab) {
      top: 50%;
    }

    @include mq(sp) {
      width: 45%;
      height: 10%;
      top: 55%;
    }
  }
  //キャッチコピー
  h2 {
    writing-mode: vertical-rl; /* 縦書きに設定 */
    color: $text-color;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: nomal;
    font-family: "Kaisei Tokumin";
    letter-spacing: 1.5rem;

    @include mq(sp) {
      font-size: 3rem;
      background: #fff;
      padding: 1rem;
      border-radius: 7px;
    }
  }
  .main-title {
    position: absolute;
    top: 10%;
    left: 35%;

    @include mq(sp) {
      top: 25%;
    }
  }

  .main-title2 {
    position: absolute;
    top: 35%;
    left: 25%;

    span {
      background-color: $blue-box;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
      padding-top: 30px;
    }

    @include mq(sp) {
      top: 50%;
      left: 20%;
    }
  }
}

//about
#about {
  position: relative;
  height: 1000px;
  padding-top: 5%;
  overflow: hidden;
  @include mq(sp) {
    padding-top: 10%;
    height: 600px;
  }

  .yellow-box4 {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 3%;
    left: 5%;
    background: $yellow-box;
    border-radius: 10px;

    @include mq(sp) {
      height: 10%;
      top: 1%;
      left: 40%;
    }
  }

  .yellow-box5 {
    width: 30%;
    height: 20%;
    position: absolute;
    top: 90%;
    right: 18%;
    background: $yellow-box;
    border-radius: 10px;

    @include mq(tab) {
      height: 15%;
      top: 87%;
    }

    @include mq(sp) {
      width: 60%;
      height: 12%;
      top: 75%;
      right: 40%;
    }
  }

  .cola-3 {
    width: 50%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 0%;

    @include mq(sp) {
      top: 5%;
      left: 50%;
    }
  }
  .about-orange {
    width: 20%;
    height: auto;
    position: absolute;
    top: -15%;
    left: 0%;
    overflow: hidden;
    z-index: -10;

    @include mq(sp) {
      top: -5%;
    }
  }

  .about-bubble {
    width: 40%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;

    @include mq(sp) {
      top: 80%;
      width: 50%;
      transform: translate(20%, -50%);
    }
  }

  .about-spice {
    width: 45%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 80%;
    right: 0%;

    @include mq(sp) {
      width: 55%;
      top: 70%;
      right: 45%;
    }
  }

  .about-us {
    width: 50%;
    height: auto;
    position: absolute;
    top: -10%;
    right: 0;
    z-index: -10;

    @include mq(sp) {
      width: 40%;
      top: 20%;
      right: 63%;
      transform: rotate(-30deg);
    }
  }

  .about-title {
    padding: 1% 1% 1% 0;
    width: 30%;
    position: absolute;
    top: 20%;
    right: 0;
    overflow: hidden;
    margin: 0;

    @include mq(tab) {
      width: 38%;
    }

    @include mq(sp) {
      top: 35%;
      right: 0%;
      width: 45%;
      padding: 3%;
      transform: translate(-50%, -50%);
    }
  }

  .about-text {
    width: 25%;
    height: auto;
    color: #350b03;
    font-family: "Noto Sans JP";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 144.735%; /* 28.947px */
    letter-spacing: 8px;
    position: absolute;
    top: 32%;
    right: 3%;

    @include mq(tab) {
      width: 28%;
      top: 30%;
      right: 9%;
    }

    @include mq(sp) {
      font-size: 0.9rem;
      width: 50%;
      line-height: 1.25rem;
      letter-spacing: 0.4rem;
      top: 54%;
      right: 0%;
      transform: translate(-50%, -50%);
    }
  }
}

//lineup

#lineup {
  height: 800px;
  position: relative;
  padding-top: 5%;
  margin-top: 15%;

  @include mq(sp) {
    // overflow: hidden;
    height: 1500px;
    padding-top: 20%;
  }

  .lineup-title {
    @include mq(sp) {
      width: 30%;
      padding: 3%;
    }
  }

  .lineup-bubble {
    width: 40%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;

    @include mq(sp) {
      width: 50%;
      top: 5%;
      left: -10%;
      transform: scaleX(-1); /* 左右反転 */
    }
  }
  .lineup-lemon {
    width: 15%;
    z-index: -10;
    position: absolute;
    top: 5%;
    right: 0;

    @include mq(sp) {
      width: 25%;
      top: 0;
    }
  }
  .line-up {
    width: 30%;
    position: absolute;
    left: 0;
    top: -15%;

    @include mq(sp) {
      width: 40%;
      top: -5%;
    }
  }

  .lineup-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;

    @include mq(sp) {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
    .lineup-1 {
      width: 20%;

      @include mq(tab) {
        width: 25%;
      }

      @include mq(sp) {
        width: 80%;
        margin: 20% auto;
      }

      img {
        width: 100%;
      }
      h4 {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5% 0;

        @include mq(sp) {
          font-size: 1rem;
          padding: 5% 0 0 0;
        }
      }
      p {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.24px;
        padding: 5% 0;

        @include mq(tab) {
          line-height: 1.5rem;
          height: 20%;
        }

        @include mq(sp) {
          font-size: 0.75rem;
          padding: 5% 0;
        }
      }
    }

    .lineup-2 {
      width: 20%;

      @include mq(tab) {
        width: 25%;
      }

      @include mq(sp) {
        width: 80%;
        margin: 20% auto;
      }

      img {
        width: 100%;
      }
      h4 {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5% 0;

        @include mq(sp) {
          font-size: 1rem;
          padding: 5% 0 0 0;
        }
      }

      p {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.24px;
        padding: 5% 0;

        @include mq(tab) {
          line-height: 1.5rem;
          height: 20%;
        }

        @include mq(sp) {
          font-size: 0.75rem;
          padding: 5% 0;
        }
      }
    }

    .lineup-3 {
      width: 20%;

      @include mq(tab) {
        width: 25%;
      }

      @include mq(sp) {
        width: 80%;
        margin: 20% auto;
      }

      img {
        width: 100%;
      }
      h4 {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5% 0;

        @include mq(sp) {
          font-size: 1rem;
          padding: 5% 0 0 0;
        }
      }
      p {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.24px;
        padding: 5% 0;

        @include mq(tab) {
          line-height: 1.5rem;
          height: 20%;
        }

        @include mq(sp) {
          font-size: 0.75rem;
          padding: 5% 0;
        }
      }
    }
  }
}

//access
#access {
  position: relative;
  height: 800px;
  padding-top: 5%;
  margin-top: 15%;

  @include mq(sp) {
    padding-top: 20%;
  }

  .access-title {
    @include mq(sp) {
      width: 40%;
      padding: 3%;
    }
  }

  .access-orange {
    width: 20%;
    height: auto;
    position: absolute;
    left: 0;
    top: -10%;
    z-index: -10;
  }

  .access-png {
    width: 30%;
    height: auto;
    position: absolute;
    top: -20%;
    right: 0;

    @include mq(sp) {
      top: -5%;
      width: 40%;
    }
  }

  .access-wrapper {
    display: flex;

    @include mq(sp) {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
    .access-left {
      padding: 10% 0 0 5%;

      @include mq(sp) {
        width: 100%;
        padding: 0;
      }

      iframe {
        @include mq(sp) {
          display: block;
          width: 90%;
          height: 300px;
          margin: 15% auto 0 auto;
        }
      }
    }
    .access-right {
      padding: 10% 0 0 5%;

      p {
        line-height: 1.5;
        margin-bottom: 5%;

        @include mq(tab) {
          padding-right: 5%;
        }

        @include mq(sp) {
          font-size: 1rem;
        }
      }

      h5 {
        color: #350b03;
        font-family: "Noto Sans JP";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 144.786%; /* 31.853px */
        letter-spacing: 6.6px;
        padding: 4% 0 4% 0;

        @include mq(sp) {
          font-size: 1.25rem;
        }
      }
    }
  }
}

//contact

#contact {
  height: 800px;
  position: relative;
  padding-top: 5%;
  margin-top: 5%;

  .contact-title {
    @include mq(sp) {
      width: 40%;
      padding: 3%;
    }
  }

  @include mq(tab) {
    height: 700px;
  }

  @include mq(sp) {
    height: 550px;
  }

  .contact-bubble1 {
    width: 20%;
    position: absolute;
    top: 40%;
    left: 0;
    transform: scaleX(-1);

    @include mq(sp) {
      width: 30%;
      top: 80%;
    }
  }
  .contact-bubble2 {
    width: 20%;
    position: absolute;
    top: -20%;
    right: 0%;

    transform: scaleX(-1);

    @include mq(sp) {
      width: 30%;
      top: 0%;
      right: 0%;
    }
  }

  .contact-lemon {
    width: 20%;
    position: absolute;
    bottom: -10%;
    right: 0;

    @include mq(sp) {
      bottom: -5%;
    }
  }
  .contact-png {
    width: 30%;
    position: absolute;
    top: -15%;
    left: 0;

    @include mq(sp) {
      width: 40%;
      top: -10%;
    }
  }

  input {
    display: block;
    width: 30%;
    padding: 1%;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 2% auto;

    @include mq(sp) {
      width: 50%;
      margin: 5% auto;
    }
  }
  textarea {
    display: block;
    width: 30%;
    padding: 1%;
    height: 15rem;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 2% auto;

    @include mq(sp) {
      width: 50%;
      margin: 5% auto;
    }
  }

  .submit-button {
    background: #fff;
    width: 10%;

    @include mq(sp) {
      width: 30%;
    }

    &:hover {
      background: $blue-box;
      color: #fff;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

//footer
footer {
  height: 150px;
  position: relative;
  background: $yellow-box;

  .copy-right {
    text-align: center;
    font-size: 0.75rem;
    margin: -1.5rem auto;
    width: 100%;
  }
  .footer-inner {
    display: flex;
    justify-content: flex-end;

    .footer-left {
      a img {
        width: 10%;
        position: absolute;
        top: 1rem;
        left: 10px;

        @include mq(sp) {
          width: 20%;
        }
      }
    }

    .footer-right {
      width: 25%;
      margin-top: 1rem;
      height: 135px;

      @include mq(sp) {
        width: 40%;
      }
      p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 4.8px;
        line-height: 1.5rem;

        @include mq(sp) {
          font-size: 0.75rem;
          letter-spacing: normal;
        }
      }

      .footer-access {
        margin-bottom: 26px;

        @include mq(sp) {
          margin-bottom: 5%;
        }
      }
    }
  }
}
