@charset "UTF-8";
a {
  color: #350b03;
}

html {
  color: #350b03;
  font-family: "Noto Sans JP";
}
@media screen and (min-width: 1025px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

header {
  position: fixed;
  height: 100px;
  z-index: 9999999;
}

.header-inner {
  width: 100%;
}
.header-inner .header-left h1 img {
  width: 160px;
  position: fixed;
  top: 10px;
  left: 10px;
}
.header-inner .header-right {
  width: 586px;
  position: fixed;
  right: 95px;
  top: 35px;
}
.header-inner .header-right ul {
  display: flex;
  justify-content: space-between;
}
.header-inner .header-right ul li {
  color: #350b03;
  font-family: "Noto Serif";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ハンバーガーメニュークリック前 */
/* クリックエリアと位置を指定 ---------------------- */
.btnHamburger {
  position: fixed;
  z-index: 10000;
  top: 40px;
  right: 40px;
  width: 40px; /* クリックエリアの横幅*/
  height: 20px; /* クリックエリアの高さ*/
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btnHamburger {
    width: 70px;
    height: 50px;
    right: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .btnHamburger {
    display: none;
  }
}

/* 3本線の1本ごとに共通するスタイルを指定 ---------------------- */
.btnHamburger .line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px; /* 横幅 */
  height: 2px; /* 1本辺りの高さ */
  background: #676262; /* 線の色 */
  /* 適用するプロパティ、変化する時間、変化する速度 */
  /* -webkit-transition: all 0.3s ease-out; */
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .btnHamburger .line {
    width: 70px;
    height: 3px;
  }
}

/* 3本線の各線の位置を指定 ---------------------- */
.btnHamburger .line_01 {
  top: 0px;
}

.btnHamburger .line_02 {
  top: 8px;
}
@media screen and (min-width: 768px) {
  .btnHamburger .line_02 {
    top: 23px;
  }
}

.btnHamburger .line_03 {
  top: 16px;
}
@media screen and (min-width: 768px) {
  .btnHamburger .line_03 {
    top: 46px;
  }
}

/* ハンバーガーメニュークリック後 */
.btnHamburger.is-active .line_01 {
  top: 8px; /* 上から2番目の線の位置に変更 */
  /* 線を45度回転 */
  /* -webkit-transform: rotate(45deg); */
  transform: rotate(45deg);
}

/* 上から2番目の線のスタイル ---------------------- */
.btnHamburger.is-active .line_02 {
  opacity: 0; /* 不透明度を下げて線を消す */
}

/* 最下部の線のスタイル ---------------------- */
.btnHamburger.is-active .line_03 {
  top: 8px; /* 上から2番目の線の位置に変更 */
  /* 線を135度回転 */
  transform: rotate(135deg);
}

/* クリック前 */
nav {
  position: fixed;
  top: 60px;
  left: -100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}
@media screen and (min-width: 1025px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }
}
nav ul li {
  width: 16.6%;
  text-align: center;
}
nav ul li a {
  color: #554a45;
}
@media screen and (min-width: 768px) {
  nav ul li a {
    font-size: 25px;
  }
}
@media screen and (min-width: 1025px) {
  nav ul li a {
    display: block;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  nav {
    font-size: 25px;
    margin-top: 200px;
  }
}
@media screen and (min-width: 1025px) {
  nav {
    opacity: 1;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
    line-height: 100px;
    background: #fff;
    margin: 0 auto;
    width: 100%;
  }
}

#coverlayer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  opacity: 0;
  background: #c6b5b0;
  transition: 0.5s;
  z-index: 11;
}

/* クリック後 */
nav.is-active {
  left: 0;
  opacity: 1;
  color: #554a45;
  text-align: center;
  width: 100%;
  display: block;
}
nav.is-active ul li {
  padding: 40px 0;
  width: 100%;
}

.btnHamburger p {
  font-size: 8px;
  margin-top: 5px;
  color: #000;
  position: absolute;
  top: 120%;
  left: 20%;
}
@media screen and (min-width: 768px) {
  .btnHamburger p {
    top: 110%;
    left: 35%;
  }
}

#coverlayer.is-active {
  width: 100%;
  opacity: 1;
}

.top-main {
  height: 1024px;
  position: relative;
  padding-top: 100px;
}
.top-main .cola-1 {
  width: 35%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 0;
}
.top-main .cola-2 {
  width: 65%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-main .store-img {
  width: 50%;
  height: auto;
  position: absolute;
  right: 75px;
  top: 301px;
}
.top-main .yellow-box1 {
  width: 50%;
  height: 10%;
  border-radius: 10px 0 0 10px;
  background: #ffee62;
  overflow: hidden;
  position: absolute;
  top: 235px;
  right: 0;
}
.top-main .yellow-box2 {
  width: 40%;
  height: 10%;
  transform: rotate(90deg);
  border-radius: 10px 10px 0 0;
  background: #ffee62;
  overflow: hidden;
  position: absolute;
  top: 440px;
  left: -220px;
}
.top-main .yellow-box3 {
  width: 40%;
  height: 20%;
  border-radius: 10px 0 0 10px;
  background: #ffee62;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 889px;
}
.top-main h2 {
  writing-mode: vertical-rl; /* 縦書きに設定 */
  color: #350b03;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: nomal;
  font-family: "Kaisei Tokumin";
  letter-spacing: 0.4em;
}
.top-main .main-title {
  position: absolute;
  top: 30%;
  left: 28%;
}
.top-main .main-title2 {
  position: absolute;
  top: 55%;
  left: 20%;
}
.top-main .main-title2 span {
  background-color: #2c459e;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  padding-top: 30px;
}

footer {
  height: 150px;
  position: relative;
  background: #ffee62;
}
footer .copy-right {
  text-align: center;
  font-size: 12px;
  margin: -20px;
}
footer .footer-inner {
  display: flex;
  justify-content: flex-end;
}
footer .footer-inner .footer-left a img {
  width: 170px;
  position: absolute;
  top: 10px;
  left: 10px;
}
footer .footer-inner .footer-right {
  width: 25%;
  margin-top: 10px;
  height: 135px;
}
footer .footer-inner .footer-right p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  line-height: 1.5em;
}
footer .footer-inner .footer-right .footer-access {
  margin-bottom: 26px;
}/*# sourceMappingURL=style.css.map */